.container{
  margin: 50px;

  form {
    display: flex;
    flex-direction: column;
  }

}

.arrayblog {
  display: flex;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin: auto;
}

td a {
  cursor: pointer;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
