<div class="container">
  <form (ngSubmit)="send()" #form="ngForm">

    <div>
      <input type="text" name="title" [(ngModel)]="blog.title" >
      <input type="checkbox" name=isShow id="isShox" [(ngModel)]="blog.isShow">
      <button type="submit" mat-raised-button>{{valueBlogId ? 'Modifier' : 'Enregistrer' }}</button>
    </div>

    <app-hashtag [blog]="blog" (blogWithHashtagEvent)="getHashtags($event)"></app-hashtag>



    <input type="text" name="description" [(ngModel)]="blog.description">
  </form>
</div>

<div class="arrayBlog">
  <table>
    <tr>
      <th>N°</th>
      <th>Titre</th>
      <th>Options</th>
    </tr>
    <tr *ngFor="let item of blogs">
      <td>{{ item.id }}</td>
      <td>{{ item.title}}</td>
      <td>
        <a (click)="deleteBlog(item.id)"> Supprimer </a>
        <a (click)="blogById(item.id)"> Modifier </a>
      </td>
    </tr>
  </table>
</div>

